
body {
	color: white;
	background-color: black;
}

menu {
	font: menu;
}
button {
	font: caption;
}
<!-- message-box {
	font: message-box;
	} -->
	
.wrapper{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	grid-template-rows:40px 100px 40ps;
}
.header{
	grid-column:span 12;
}
.panel{
	grid-column:span 1;
}
.content{
	grid-column:span 10;
}
.menu{
	grid-column:span 1;
}
.footer{
	grid-column:span 12;
}

@media screen and (max-device-width:480px){
	.header{
		grid-column:span 12;
	}
	.panel{
		grid-column:span 0;
	}
	.content{
		grid-column:span 11;
	}
	.menu{
		grid-column:span 1;
	}
	.footer{
		grid-column:span 12;
	}
}

#griline{
	display: grid;
	grid-template-columns: repeat(auto-fill,
			 minmax(150px, 1fr));
	grid-gap: 2vw;
}

/*#griline > div {
	font-size: 2vw;
	padding: .5em;
	background-color: sky;
	text-align: center;
}*/

.scrolled{
	overflow: scroll;
}

.daun{
	cursor: crosshair;
}

.andere{
	cursor: progress;
}

img {
	border-radius: 8px;
	transition: all 1s easi 0s;
}

img:hover {
	transform: scale(1.7); 

}

