body {
	color: black;
	background-color: #f0f0c0;
	font-family: serif;
	}

a:link {color: navy;}
a:visited {color: gray;}
a:hover {color: red;}
a:active {color: yellow;}


code, pre, tt, span.input {font-family: monospace;}
p.signature {font-family: cursive;}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	font-weight: lighter;
	color: darkred;
	text-indent: 5%;
	text-align: center;
 	text-shadow: gray 4px 2px 5px; 
}

p.red:first-letter {
	color: red;
	font-size: 200%;
}
p {
	text-indent: 3em;
	padding-left: 3em;
	padding-right: 3em;
}
ul, ol {
	padding-left: 6em;
	padding-right: 6em;
	text-align: justify;
	}

img.right {
	padding-left: 50%;
}
img.center {
	padding-left: 25%;
}
seealso {
	background-color: yellow;	
	color: #440;
	padding:2em; 
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
}
.seealso a{
	text-decoration: none;
	color: #440; 
}
.seealso p{
	margin-top: -1em;
	padding-left: 2em;
}
.seealso h4{
	padding-left: -2em;
}


button {
	font: caption;
}
